[submodule "public"]
	path = public
	url = https://github.com/youngkin/youngkin.github.io.git
	branch = master
[submodule "hugo-future-imperfect-slim"]
	path = hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/futureimperfect"]
	path = themes/futureimperfect
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/hugo-theme-cleanwhite-rsy"]
	path = themes/hugo-theme-cleanwhite-rsy
	url = git@github.com:youngkin/hugo-theme-cleanwhite-rsy.git
